
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/DetailLayout.cshtml";
    
}

<section class="blog-single section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-0"></div>
            <div class="col-lg-8 col-12">
                <div class="blog-single-main">
                    <div class="row">
                        <div class="col-12">
                            <div class="reply">
                                <div class="reply-head">
                                    @if (ViewBag.ThongBao != 0)
                                    {
                                        
                                        if (ViewBag.ThongBao == 1)
                                        {
                                            <div class="alert alert-warning">
                                                <strong>Warning!</strong> Username and password do not match or you do not have an account yet.
                                            </div>
                                        }
                                    }
                                    <h2 class="reply-title">LOGIN</h2>
                                    <!-- Comment Form -->
                                    @using (Html.BeginForm("DangNhap","Home",new {strURL=ViewBag.strURL}))
                                    {
                                        <div class="row">


                                            <div class="col-lg-12 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Username<span>*</span></label>
                                                    <input type="email" name="username" placeholder="" required="required">
                                                </div>
                                            </div>


                                            <div class="col-lg-12 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Password<span>*</span></label>
                                                    <input type="password" name="password" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group button">
                                                    <button type="submit" class="btn">LOGIN</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <!-- End Comment Form -->
                                    <div class="blog-meta mt-3 text-right mr-3">
                                        <span class="author "><h3><a href="@Url.Action("DangKy","Home")">Don't have an account?</a></h3></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

