
@{
    ViewBag.Title = "ThayDoiMatKhau";
    Layout = "~/Views/Shared/DetailLayout.cshtml";
}


<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="blog-single.html">Shop Grid</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->
<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    <!-- Single Widget -->
                    <h3 style="display:block; border-bottom:3px solid #EB395F; width:42%;  margin-bottom:10px"><small>ACCOUNT</small></h3>
                    <a href="#"><div class="bthuong"> Thông tin tài khoản</div></a>
                    <a href="#"><div class="bthuong"> Quản lý đơn hàng</div></a>
                    <a href="#"><div class="hdong"> Thay đổi mật khẩu</div></a>
                    <!--/ End Single Widget -->
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-12 ml-5">

                <div class="row">
                    <h4 style="margin-bottom:20px; margin-top:5px; border-left:5px solid #EB395F; padding:0px 3px 0px 5px"><small>THAY ĐỔI MẬT KHẨU</small></h4>
                    <div class="col-12">

                        <!-- Comment Form -->
                        @using (Html.BeginForm("CapNhatThongTin", "NguoiDung", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mật khẩu</label>
                                <div class="col-sm-9">
                                    <input name="matkhaucu" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mật khẩu mới</label>
                                <div class="col-sm-9">
                                    <input name="matkhaumoi" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nhập lại mật khẩu</label>
                                <div class="col-sm-9">
                                    <input name="xacnhan" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn float-right">Lưu</button>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->
