
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DetailLayout.cshtml";
}


<section class="blog-single section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-0"></div>
            <div class="col-lg-8 col-12">
                <div class="blog-single-main">
                    <div class="row">
                        <div class="col-12">
                            <div class="reply">
                                <div class="reply-head">
                                    <h2 class="reply-title">LOGIN</h2>
                                    <!-- Comment Form -->
                                    <form class="form" action="#">
                                        <div class="row">


                                            <div class="col-lg-12 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Username<span>*</span></label>
                                                    <input type="email" name="username" placeholder="" required="required">
                                                </div>
                                            </div>


                                            <div class="col-lg-12 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Password<span>*</span></label>
                                                    <input type="password" name="password" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group button">
                                                    <button type="submit" class="btn">LOGIN</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Comment Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-single section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-0"></div>
            <div class="col-lg-8 col-12">
                <div class="blog-single-main">
                    <div class="row">
                        <div class="col-12">
                            <div class="reply">
                                <div class="reply-head">
                                    <h2 class="reply-title">REGISTER</h2>
                                    <!-- Comment Form -->
                                    <form class="form" action="#">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your Name<span>*</span></label>
                                                    <input type="text" name="name" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your Sex<span>*</span></label><br />

                                                    <input style="width:50px" type="radio" name="gender" value="male" checked>
                                                    <label for="male">Male</label>
                                                    <input style="width:50px" type="radio" name="gender" value="female">
                                                    <label for="female">Female</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your birthday<span>*</span></label>
                                                    <input type="date" name="birthday" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your Phone<span>*</span></label>
                                                    <input type="text" name="phone" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your Email<span>*</span></label>
                                                    <input type="email" name="email" placeholder="" required="required">
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your Address<span>*</span></label>
                                                    <input type="text" name="address" placeholder="" required="required">
                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your Password<span>*</span></label>
                                                    <input type="password" name="password" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Your Password<span>*</span></label>
                                                    <input type="password" name="password1" placeholder="" required="required">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group button">
                                                    <button type="submit" class="btn">REGISTER NOW</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Comment Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

